body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
}

#content {
    margin: 20px 0;
}

img#photo {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

p#name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: #0077cc;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 10px;
}

button:hover {
    background-color: #0055aa;
}

p#response {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    color: #ff0000; /* Red color for the response text */
}
